@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&family=Lato:wght@300,600,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}

:root {
    line-height: 1.5;
    font-weight: 300;

    // color-scheme: light dark; TODO
    // color: rgba(255, 255, 255, 0.87);
    // background-color: #333;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    --amplify-components-field-label-color: #fff !important; // TODO remove important, probably need to import this after amplify's default css
}

a {
    font-weight: 300;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
}

// @media (prefers-color-scheme: light) { TODO
// :root {
// color: rgb(33, 53, 71);
// background-color: #ffffff;
// }
// } TODO
