{
    "singleQuote": true,
    "printWidth": 140,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "semi": false,
    "singleAttributePerLine": false,
    "bracketSpacing": false
}